@import './milligram/milligram.sass';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin round-corners($property) {
    -moz-border-radius: $property;
    -webkit-border-radius: $property;
    -o-border-radius: $property;
    border-radius: $property;
}
