@import './milligram/milligram.sass';

$color-background: #fff !default;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin round-corners($property) {
    -moz-border-radius: $property;
    -webkit-border-radius: $property;
    -o-border-radius: $property;
    border-radius: $property;
}

.container {
    margin-top: 8rem;
    margin: 3em;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
